body {
    font-family: "Times New Roman", serif;
    background-color: #dadada;
}

h1,h2,h3,h4,h5,h6 {
    font-style: italic;
}

a, a:hover, a:active, a:visited {
    color: #f71098;
}

p {
    font-sie: 1.2em;
}

#site {
    padding: 10px;
}

/* Bootstrap overrides */

.btn.btn-primary {
    background-color: #404040;
    border-color: #333;
}

.btn.btn-primary:hover {
    background-color: #000;
}

/* components */


.usage-step {
    text-align: center;
}

.usage-step-title {
    font-weight: bold;
}